<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>No.mad Recaptcha Security Hub</title>
    <script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" th:href="@{/}">No.mad Recaptcha Security Hub</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h4>All Recaptcha</h4>
    </div>
    <div class="col-sm-12">
        <a class="btn btn-primary float-right btn-space-bottom " th:href=@{/search} role="button"><span class="fas fa-search"></span> Search</a>
    </div>
    <div class="col-sm-12 float-left">
        <table class="table table-striped table-dark" id="recaptchaListTable">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Application </th>
                    <th scope="col"> Site Key </th>
                    <th scope="col"> Secret Key </th>
                    <th scope="col"> Threshold </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(recaptchaList)}">
                    <td colspan="2"> No Recaptcha in Database </td>
                </tr>
                <tr th:each="recaptcha : ${recaptchaList}" >
                    <td><span th:text="${recaptcha.id}"> ID </span></td>
                    <td><span th:text="${recaptcha.application}"> Application </span></td>
                    <td><span th:text="${recaptcha.siteKey}"> Site Key </span></td>
                    <td><span th:text="${recaptcha.secretKey}"> Secret Key </span></td>
                    <td><span th:text="${recaptcha.threshold}"> Threshold </span></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</main>
<!-- /.container -->
</body>
</html>